@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Allerta+Stencil&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: url('img/back.avif');
    background-size: cover;
    background-repeat: no-repeat;
	font-family: 'Poppins', sans-serif;
    background-position: top center;
}


/* header style
===================================*/

.nike{
    width: 16vh;
}

.header{
  position:relative;
}

.header-inner{
  position:absolute;
  top:0px;
  width:100%;
  z-index:99;
  background-color:transparent;
}

.nav-item .nav-link{
    display: block;
    line-height: 36px;
	text-transform:capitalize;
    font-size: 16px;
	font-weight:500;
    color:#000000;
    transition: 0.15s;
}

.navbar-brand {
    color: #000000;
    font-weight: 800;
    position: relative;
    font-size:29px;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
}

.navbar-brand:hover{
 color: #000000;
}

.form-inline a:first-child{
  display: block;
    padding: 9px 18px;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.18px;
    line-height: 17px;
    border-radius: 50px;
    background: #d5ff62;
    cursor: pointer;
    color: #000000;
}


.search-btn {
 width:35px;
 height:35px;
 line-height:35px;
 margin:0px 0px 0px 15px;
 border-radius:50%;
 cursor:pointer;
 text-align:center;
 background-color:#6c757de6;
}

.search-btn i{
      color: #ffffff;
	  font-size:14px;
}

/* header style
===================================*/




/* banner css design
===================================*/


.section-container-items{
  padding:100px 0px 0px 0px;
}

.vapor{
    color: #d5ff62;
}

.speed{
    color: #abe211;
}

span, i, button, a{
    text-decoration: none;
    outline: none;
}

.section a{
    display: inline-block;
}

.section h1{
    font-size: 68px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    letter-spacing: -0.21px;
    line-height: 90px;
    margin: 0; padding: 0;
}

.section h3{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.30px;
	padding: 0;
    margin-top: 8px;
    margin-left: 2px;
    color: #000000;
    opacity: 0.7;
}

.section button{
    margin-top: 30px;
    display: block;
    padding: 15px 24px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.18px;
    line-height: 17px;
    border-radius: 50px;
    background: #d5ff62;
    border: none;
    cursor: pointer;    
    color: #000000;
    transition: all 250ms ease-in-out;
}
.section button i{
    font-size: 14px;
    margin-right: 8px;
}

.section button span{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.20px;
    margin-left: 3px;
}

.section button:hover{
    background-color: #ccff3f;
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    
}
.section button:focus{
    outline: none;
}


.chuteira{
    transform: rotate(-25deg); 
    
}
.alta img {
    width:95%;
}


/* banner  css design
===================================*/






/* footer css design
===================================*/

footer{
    width: 100%;
    text-align: right;
}

footer p{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    opacity: 0.4;
    margin-top: 3px;
    letter-spacing: 0.12px;
}

footer p a{
    color: #000000;
    text-decoration: underline;
}



/* footer css design
===================================*/


/* search box model css design
===================================*/
.search-model {
    position: fixed;
	display:none;
    width: 100%;
    height: 100%;
    left: 0;
	animation:fadeIn 0.7s ease-in-out 1;
    top: 0;
    background: #000;
    z-index: 99999;
}


.search-close-switch {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    line-height:50px;
    top: 30px;
    cursor: pointer;
    transform: rotate(45deg);
	transform-origin:center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button, input {
    overflow: visible;
}


/* style cards
===================================*/
.produto{
    position: relative;     
    padding: 20px;
    margin-top: 30px;  
}

.produto-categoria{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}

.produto-container{
    padding: 5vh 10vw 5vh;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    gap: 20px;
}

.produto-container::-webkit-scrollbar{
    display: none;
}

.produto-card{
    flex: 0 0 auto;
    width: 230px;
    margin-right: 40px;
    background-color: #f1f0f0;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.produto-card:hover{
    cursor: pointer;
    background-color: #3d3d3d;
    color: #fff;
    border-radius: 26px;
    padding: 8px;
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.produto-img{
    position: relative;
    width: 100%;
    height: 170px;
}

.produto-thumb{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tag-desconto{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    right: 10px;
    top: 10px;
    text-transform: capitalize;
    font-weight: 600;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    border-radius: 16px;
}

.produto-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: rgb(255, 255, 255);
    color: #000000;
}

.produto-info{
    width: 100%;
    padding-top: 10px;
}

.produto-marca{
    text-transform: uppercase;
}

.produto-desc{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.preco{
    font-weight: 900;
    font-size: 20px;
}

.preco-atual{
    margin-left: 20px;  
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    z-index: 9;
    
}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
    border: none;
}

.nxt-btn{
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
    border: none;
}

.pre-btn:focus,
.nxt-btn:focus {
    outline: none;
}

/* style cards
===================================*/